@model Domain.Entities.CambiarPasswordViewModel



@{
    ViewBag.HeaderTitleLink = Url.Action("CambiarPassword", "Account");
    ViewBag.HeaderTitle = "Cambiar Contraseña";
    ViewBag.Title = "Cambiar Contraseña";

    //   ViewBag.active = "change_own_pass";

    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<div class="col-md-4 offset-md-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewBag.Title</h4>
                </div>
                @using (Ajax.BeginForm("CambiarPassword", "Account", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Showmessage" }))
                {
                <div class="card-body">


                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    
                    @Html.HiddenFor(model => model.user_code)

                    <div class="form-group has-label">

                        @Html.LabelFor(model => model.new_pass, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.new_pass, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.new_pass, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group has-label">

                        @Html.LabelFor(model => model.new_pass2, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.new_pass2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.new_pass2, "", new { @class = "text-danger" })

                    </div>




                </div><!-- end content-->
                    <div class="card-footer text-right">


                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>
                }
            </div><!--  end card  -->
        </div> <!-- end col-md-12 -->
    </div> <!-- end row -->


</div>

@section Scripts {
    <script>
        function Showmessage(data) {
            debugger;
            console.log(data);
            if (data.status == 1) {
                swal({
                    title: 'Actualizado!',
                    text: 'Se ha actualizado con éxito la contraseña. Ingrese al sistema con su nueva contraseña.',
                    type: 'success',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false
                }).then(function () {
                    window.location.href = "/Account/Login";
                }, function (dismiss) { // dismiss can be 'cancel', 'overlay',
                    // 'close', and 'timer'
                    window.location.href = "/Account/Login";

                  
                });
            }
            else {
                swal({
                    title: 'Error!',
                    html: data.message_error,
                    type: 'error',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false
                }).then(function () {
                    window.location.href = "/Account/Login";
                }, function (dismiss) { // dismiss can be 'cancel', 'overlay',
                    // 'close', and 'timer'
                    window.location.href = "/Account/Login";


                });
            }

        }
    </script>
    <script type="text/javascript">




        $('#form-edit').on('submit', function (e) { //use on if jQuery 1.7+
            //prevent form from submitting
            debugger;
            e.preventDefault();
            var form = this;

            if ($("#form-edit").valid()) {



                form.submit();




            }

            return false;
        });

    </script>
}
