@using Domain.Entities;
@using System.Configuration;
@using Presentation.Web.Filters;
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demos.creative-tim.com/now-ui-dashboard-pro/examples/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Aug 2018 20:53:28 GMT -->
<!-- Added by HTTrack -->

<head>






    <meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>

        ARCA - @ViewBag.Title



    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="/assets/use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />


    <link href="@Url.Content("/assets/css/now-ui-dashboard.min69ea.css?v=1.1.2")" rel="stylesheet" />


    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="@Url.Content("/assets/demo/demo.css")" rel="stylesheet" />
    <link href="@Url.Content("/assets/css/custom.css")" rel="stylesheet" />
    <link href="@Url.Content("/assets/css/responsive.dataTables.min.css")" rel="stylesheet" />



    <link rel="stylesheet" href="@Url.Content("/assets/css/select2.min.css")">
    <link rel="stylesheet" href="@Url.Content("/assets/css/select2-bootstrap.min.css")">




</head>
<body class=" sidebar-mini ">




    <div class="wrapper ">

        <div class="sidebar" data-color="orange">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->
            <div class="logo">
                <a href="/" class="simple-text logo-mini">
                    AR
                </a>
                <a href="/" class="simple-text logo-normal">
                    ARCA
                </a>

                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
                        <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
                        <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
                    </button>
                </div>

            </div>

            <div class="sidebar-wrapper">
                @if (Session[ConfigurationManager.AppSettings["session.usuario.actual"]] != null)
                {

                    <div class="user">
                        <div class="photo">
                            @if (AuthorizeUserAttribute.UsuarioLogeado().avatar != null && AuthorizeUserAttribute.UsuarioLogeado().name != "")
                            {
                                <img src="@AuthorizeUserAttribute.UsuarioLogeado().avatar" />
                            }
                            else
                            {
                                <img src="/Avatars/default_avatar_male.jpg" />
                            }
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                                <span title="@AuthorizeUserAttribute.UsuarioLogeado().name">

                                    @AuthorizeUserAttribute.UsuarioLogeado().name_abbre
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <div class="clearfix"></div>
                            <div class="collapse" id="collapseExample">
                                <ul class="nav">
                                    <li class="@(ViewBag.active == "my_account" ? "active" : "")">
                                        @if (AuthorizeUserAttribute.UsuarioLogeado().role_id == 11)
                                        {
                                            <a href="/Account/Editar/@AuthorizeUserAttribute.UsuarioLogeado().investigator_id">
                                                <span class="sidebar-mini-icon">MC</span>
                                                <span class="sidebar-normal">Mi Cuenta</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/User/MiCuenta">
                                                <span class="sidebar-mini-icon">MC</span>
                                                <span class="sidebar-normal">Mi Cuenta</span>
                                            </a>
                                        }

                                    </li>
                                    <li>

                                        <a href="/Account/CambiarMiPassword">
                                            <span class="sidebar-mini-icon">CC</span>
                                            <span class="sidebar-normal">Cambiar Contraseña</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Account/CerrarSesion">
                                            <span class="sidebar-mini-icon">CS</span>
                                            <span class="sidebar-normal">Cerrar Sesión</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <ul class="nav">



                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_access_users, AuthorizeUserAttribute.Permission.module_access_roles, AuthorizeUserAttribute.Permission.module_access_permissions))
                        {
                            <li class="@(ViewBag.active == "users" || ViewBag.active == "permissions" || ViewBag.active == "roles" ? "active" : "")">

                                <a data-toggle="collapse" href="#security">

                                    <i class="now-ui-icons users_circle-08"></i>

                                    <p>
                                        Seguridad <b class="caret"></b>
                                    </p>
                                </a>

                                <div class="@("collapse " + (ViewBag.active == "users" || ViewBag.active == "permissions" || ViewBag.active == "roles" ? "show" : ""))" id="security">

                                    <ul class="nav">
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_access_users))
                                        {
                                            <li class="@(ViewBag.active == "users" ? "active" : "")">
                                                <a href="/User">
                                                    <span class="sidebar-mini-icon">U</span>
                                                    <span class="sidebar-normal"> Usuarios </span>

                                                </a>



                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_access_roles))
                                        {
                                            <li class="@(ViewBag.active == "roles" ? "active" : "")">
                                                <a href="/Role">



                                                    <span class="sidebar-mini-icon">R</span>
                                                    <span class="sidebar-normal"> Roles </span>
                                                </a>


                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_access_permissions))
                                        {
                                            <li class="@(ViewBag.active == "permissions" ? "active" : "")">
                                                <a href="/Permission">
                                                    <span class="sidebar-mini-icon">P</span>
                                                    <span class="sidebar-normal"> Permisos </span>

                                                </a>



                                            </li>
                                        }


                                    </ul>
                                </div>


                            </li>

                        }
                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_draft_law, AuthorizeUserAttribute.Permission.module_institution,
AuthorizeUserAttribute.Permission.module_interest_areas, AuthorizeUserAttribute.Permission.module_programs,
AuthorizeUserAttribute.Permission.module_investigation_groups, AuthorizeUserAttribute.Permission.module_commissions,
AuthorizeUserAttribute.Permission.module_bad_languages, AuthorizeUserAttribute.Permission.module_education_levels,
AuthorizeUserAttribute.Permission.module_academic_levels, AuthorizeUserAttribute.Permission.module_knowledge_areas,
AuthorizeUserAttribute.Permission.module_educational_institutions, AuthorizeUserAttribute.Permission.module_snies,
AuthorizeUserAttribute.Permission.module_reason_rejects, AuthorizeUserAttribute.Permission.module_consultation_types, AuthorizeUserAttribute.Permission.module_merit_ranges, AuthorizeUserAttribute.Permission.edit_config, AuthorizeUserAttribute.Permission.module_period))
                        {

                            <li class="@(ViewBag.active == "reason_rejects" || ViewBag.active == "consultation_types" || ViewBag.active == "periods" || ViewBag.active == "edit_config" || ViewBag.active == "merit_ranges" || ViewBag.active == "snies" || ViewBag.active == "education_levels" || ViewBag.active == "academic_levels" || ViewBag.active == "knowledge_areas" || ViewBag.active == "educational_institutions" || ViewBag.active == "bad_languages" || ViewBag.active == "draft_laws" || ViewBag.active == "institutions" || ViewBag.active == "interest_areas" || ViewBag.active == "programs" || ViewBag.active == "investigation_groups" || ViewBag.active == "commissions" ? "active" : "")">

                                <a data-toggle="collapse" href="#management">
                                    <i class="now-ui-icons loader_gear"></i>
                                    <p>
                                        Mantenimientos <b class="caret"></b>
                                    </p>
                                </a>

                                <div class="@("collapse " + (ViewBag.active == "reason_rejects" || ViewBag.active == "consultation_types" || ViewBag.active == "periods" || ViewBag.active == "edit_config" || ViewBag.active == "merit_ranges" || ViewBag.active == "snies" || ViewBag.active == "education_levels" || ViewBag.active == "academic_levels" || ViewBag.active == "knowledge_areas" || ViewBag.active == "educational_institutions" || ViewBag.active == "draft_laws" || ViewBag.active == "institutions" || ViewBag.active == "interest_areas" || ViewBag.active == "programs" || ViewBag.active == "investigation_groups" || ViewBag.active == "commissions" ? "show" : ""))" id="management">

                                    <ul class="nav">
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_draft_law))
                                        {
                                            <li class="@(ViewBag.active == "draft_laws" ? "active" : "")">
                                                <a href="/DraftLaw">
                                                    <span class="sidebar-mini-icon">PL</span>
                                                    <span class="sidebar-normal"> Proyectos de Ley </span>
                                                </a>
                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_institution))
                                        {
                                            <li class="@(ViewBag.active == "institutions" ? "active" : "")">
                                                <a href="/Institution">
                                                    <span class="sidebar-mini-icon">I</span>
                                                    <span class="sidebar-normal"> Instituciones </span>
                                                </a>
                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_investigation_groups))
                                        {
                                            <li class="@(ViewBag.active == "investigation_groups" ? "active" : "")">
                                                <a href="/InvestigationGroup">
                                                    <span class="sidebar-mini-icon">GI</span>
                                                    <span class="sidebar-normal"> Grupos de Investigación </span>
                                                </a>
                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_interest_areas))
                                        {
                                            <li class="@(ViewBag.active == "interest_areas" ? "active" : "")">
                                                <a href="/InterestArea">
                                                    <span class="sidebar-mini-icon">AI</span>
                                                    <span class="sidebar-normal"> Áreas de Interés </span>
                                                </a>
                                            </li>
                                        }

                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_commissions))
                                        {
                                            <li class="@(ViewBag.active == "commissions" ? "active" : "")">
                                                <a href="/Commission">
                                                    <span class="sidebar-mini-icon">C</span>
                                                    <span class="sidebar-normal"> Comisiones </span>
                                                </a>
                                            </li>
                                        }

                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_educational_institutions))
                                        {
                                            <li class="@(ViewBag.active == "educational_institutions" ? "active" : "")">
                                                <a href="/EducationalInstitution">
                                                    <span class="sidebar-mini-icon">IE</span>
                                                    <span class="sidebar-normal"> Instituciones Educativas </span>
                                                </a>
                                            </li>
                                        }

                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_knowledge_areas))
                                        {
                                            <li class="@(ViewBag.active == "knowledge_areas" ? "active" : "")">
                                                <a href="/KnowledgeArea">
                                                    <span class="sidebar-mini-icon">AC</span>
                                                    <span class="sidebar-normal"> Áreas de conocimiento </span>
                                                </a>
                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_programs))
                                        {
                                            <li class="@(ViewBag.active == "programs" ? "active" : "")">
                                                <a href="/Program">
                                                    <span class="sidebar-mini-icon">P</span>
                                                    <span class="sidebar-normal"> Programas </span>
                                                </a>
                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_academic_levels))
                                        {
                                            <li class="@(ViewBag.active == "academic_levels" ? "active" : "")">
                                                <a href="/AcademicLevel">
                                                    <span class="sidebar-mini-icon">NA</span>
                                                    <span class="sidebar-normal"> Niveles académicos </span>
                                                </a>
                                            </li>
                                        }

                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_education_levels))
                                        {
                                            <li class="@(ViewBag.active == "education_levels" ? "active" : "")">
                                                <a href="/EducationLevel">
                                                    <span class="sidebar-mini-icon">NF</span>
                                                    <span class="sidebar-normal"> Niveles de formación </span>
                                                </a>
                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_snies))
                                        {
                                            <li class="@(ViewBag.active == "snies" ? "active" : "")">
                                                <a href="/Snie">
                                                    <span class="sidebar-mini-icon">S</span>
                                                    <span class="sidebar-normal"> Snies </span>
                                                </a>
                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_bad_languages))
                                        {
                                            <li class="@(ViewBag.active == "bad_languages" ? "active" : "")">
                                                <a href="/BadLanguage">
                                                    <span class="sidebar-mini-icon">PNA</span>
                                                    <span class="sidebar-normal"> Palabras no adecuadas </span>
                                                </a>
                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_merit_ranges))
                                        {
                                            <li class="@(ViewBag.active == "merit_ranges" ? "active" : "")">
                                                <a href="/MeritRange">
                                                    <span class="sidebar-mini-icon">RM</span>
                                                    <span class="sidebar-normal"> Rango de Méritos </span>
                                                </a>
                                            </li>
                                        }

                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_period))
                                        {
                                            <li class="@(ViewBag.active == "periods" ? "active" : "")">
                                                <a href="/Period">
                                                    <span class="sidebar-mini-icon">P</span>
                                                    <span class="sidebar-normal"> Periodos legislativo </span>
                                                </a>
                                            </li>
                                        }

                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_consultation_types))
                                        {
                                            <li class="@(ViewBag.active == "consultation_types" ? "active" : "")">
                                                <a href="/ConsultationType">
                                                    <span class="sidebar-mini-icon">TS</span>
                                                    <span class="sidebar-normal"> Tipos de solicitud </span>
                                                </a>
                                            </li>
                                        }

                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.module_reason_rejects))
                                        {
                                            <li class="@(ViewBag.active == "reason_rejects" ? "active" : "")">
                                                <a href="/ReasonReject">
                                                    <span class="sidebar-mini-icon">MR</span>
                                                    <span class="sidebar-normal"> Motivos de rechazo </span>
                                                </a>
                                            </li>
                                        }
                                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.edit_config))
                                        {
                                            <li class="@(ViewBag.active == "edit_config" ? "active" : "")">
                                                <a href="/Configuration">
                                                    <span class="sidebar-mini-icon">C</span>
                                                    <span class="sidebar-normal"> Configuraciones </span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>


                            </li>
                        }
                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.my_draft_laws))
                        {
                            <li class="@(ViewBag.active == "my_draft_laws" ? "active" : "")">

                                <a href="/Investigator/MisProyectosLey">

                                    <i class="now-ui-icons files_single-copy-04"></i>

                                    <p>Mis Proyectos de Ley</p>
                                </a>

                            </li>
                        }
                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.my_concepts))
                        {
                            <li class="@(ViewBag.active == "my_concepts" ? "active" : "")">

                                <a href="/Concept">

                                    <i class="now-ui-icons files_paper"></i>

                                    <p>Mis Conceptos</p>
                                </a>

                            </li>
                        }
                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.my_certificates))
                        {
                            <li class="@(ViewBag.active == "my_certificates" ? "active" : "")">

                                <a href="/Concept/Certificados">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Mis Certificados</p>
                                </a>

                            </li>
                        }
                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.my_backgrounds))
                        {
                            <li class="@(ViewBag.active == "my_backgrounds" ? "active" : "")">

                                <a href="/Investigator/MiHistorial">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Mi Historial</p>
                                </a>

                            </li>
                        }


                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.concepts_emited))
                        {
                            <li class="@(ViewBag.active == "concepts_emited" ? "active" : "")">

                                <a href="/Concept/Emitidos">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Conceptos Emitidos</p>
                                </a>

                            </li>
                        }
                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.concepts_emited))
                        {
                            <li class="@(ViewBag.active == "concepts_evaluated" ? "active" : "")">

                                <a href="/Concept/Evaluados">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Historial de conceptos</p>
                                </a>

                            </li>
                        }

                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.concepts_to_qualify))
                        {
                            <li class="@(ViewBag.active == "concepts_to_qualify" ? "active" : "")">

                                <a href="/Concept/PorCalificar">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Concepto recibidos</p>
                                </a>

                            </li>
                        }
                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.concepts_received))
                        {
                            <li class="@(ViewBag.active == "concepts_received" ? "active" : "")">

                                <a href="/Concept/Recibidos">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Historial de conceptos </p>
                                </a>

                            </li>
                        }
                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.ranking_investigator))
                        {
                            <li class="@(ViewBag.active == "ranking_investigator" ? "active" : "")">

                                <a href="/Investigator/Mejores">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Ranking</p>
                                </a>

                            </li>
                        }


                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.list_consultation_realized))
                        {
                            <li class="@(ViewBag.active == "consultations" ? "active" : "")">

                                <a href="/Consultation">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Mis solicitudes de concepto</p>
                                </a>

                            </li>
                        }

                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.list_consultation_send))
                        {
                            <li class="@(ViewBag.active == "consultations" ? "active" : "")">

                                <a href="/Consultation/Enviadas">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Solicitudes de concepto</p>
                                </a>

                            </li>
                        }

                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.general_report))
                        {
                            <li class="@(ViewBag.active == "draft_law_report" ? "active" : "")">

                                <a href="/Report">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Reporte</p>
                                </a>

                            </li>
                        }
                        @if (AuthorizeUserAttribute.VerificarPerfil(AuthorizeUserAttribute.Permission.users_report))
                        {
                            <li class="@(ViewBag.active == "users_report" ? "active" : "")">

                                <a href="/Report/Usuarios">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Reporte de Usuarios</p>
                                </a>

                            </li>
                        }
                        @if (!String.IsNullOrEmpty(AuthorizeUserAttribute.UsuarioLogeado().manual_url))
                        {
                            <li class="@(ViewBag.active == "user_manual" ? "active" : "")">

                                <a href="@AuthorizeUserAttribute.UsuarioLogeado().manual_url" target="_blank">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Manual de usuario</p>
                                </a>

                            </li>
                        }

                        @if (AuthorizeUserAttribute.UsuarioLogeado().role_id == 12)/*Rol evaluador*/
                        {
                            <li class="@(ViewBag.active == "concept_repository" ? "active" : "")">

                                <a href="/concept/repositorio">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Repositorio de Conceptos</p>
                                </a>

                            </li>
                        }


                        <li class="@(ViewBag.active == "PoliticasUso" ? "active" : "")">

                            <a href="/politicasuso">

                                <i class="now-ui-icons education_paper"></i>

                                <p>Políticas de Uso</p>
                            </a>

                        </li>

                    </ul>
                }
                else
                {
                    
                        <ul class="nav">
                            <li class="@(ViewBag.active == "concept_repository" ? "active" : "")">

                                <a href="/concept/repositorio">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Repositorio de Conceptos</p>
                                </a>

                            </li>
                            <li class="@(ViewBag.active == "PoliticasUso" ? "active" : "")">

                                <a href="/politicasuso">

                                    <i class="now-ui-icons education_paper"></i>

                                    <p>Políticas de Uso</p>
                                </a>

                            </li>
                        </ul>
                     
                }
            </div>


        </div>

        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="@ViewBag.HeaderTitleLink">@ViewBag.HeaderTitle</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">


                        <form style="display:none;">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                        @if (Session[ConfigurationManager.AppSettings["session.usuario.actual"]] != null)
                        {

                            var notifications = AuthorizeUserAttribute.Notificaciones();
                            ViewBag.notificaciones = notifications.Take(10).ToList();
                            ViewBag.num_notificaciones = notifications.Count();

                            //ViewBag.num_notificaciones_pendientes = AuthorizeUserAttribute.ObtenerNroNoNotificados();


                            <div class="row">

                                <ul class="navbar-nav" style="">

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                            <i class="now-ui-icons  ui-1_bell-53"></i>
                                            <p>
                                                <span class="d-lg-none d-md-block">Notificaciones</span>
                                                @if (@ViewBag.num_notificaciones > 0)
                                                {
                                                    <span class="badge badge-notify">@ViewBag.num_notificaciones</span>
                                                }
                                            </p>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                            @if (@ViewBag.num_notificaciones == 0)
                                            {
                                                <a class="dropdown-item" style="border-bottom: 1px solid #dddfe2" href="javascript:void(0);">No hay noticaciones pendientes</a>
                                            }
                                            else
                                            {
                                                foreach (var x in (List<NotificationViewModel>)ViewBag.notificaciones)
                                                {
                                                    <a class="dropdown-item" href="@x.url" style="border-bottom: 1px solid #dddfe2; ">@x.message</a>
                                                }


                                            }

                                            <a class="dropdown-item" style="text-align: center;text-decoration: underline;color: #365899;" href="/Notification">Ver todas</a>
                                        </div>
                                    </li>

                                </ul>



                            </div>
                        }
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->


            <div class="panel-header panel-header-sm">




            </div>

            <div class="content">
                @RenderBody()

            </div>
            <footer class="footer">

                <div class="container-fluid">

                    <div class="copyright" id="copyright">
                        &copy;
                        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>, Todos los derechos reservados - CAEL.
                    </div>
                </div>


            </footer>

        </div>

    </div>
    @if (Session[ConfigurationManager.AppSettings["session.usuario.actual"]] != null)
    {
        <!-- Classic Modal -->
        <div class="modal fade" id="bienvenido_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                        <h4 class="title title-up"> Bienvenido a ARCA</h4>
                    </div>
                    <div id="modal-body-summary" class="modal-body">
                        <p>
                            <h5> Estimado(a) "@AuthorizeUserAttribute.UsuarioLogeado().name"</h5>
                        </p>
                        <div style="text-align: center;">
                            <img src="@Url.Content("/images/logo-cael-arca.png")" width="300">

                        </div>
                        <p style="text-align: justify;text-justify: inter-word;">
                            El Centro de investigaciones y Altos Estudios legislativos- CAEL, adscrito a la Secretaría General del Senado de la República, se complace en darle la bienvenida al Sistema ARCA (Articulación Congreso-Academia), el cual busca brindar la infraestructura tecnológica para que, a través de la plataforma, usted pueda presentar conceptos técnicos sobre los proyectos de Ley en trámite en el Congreso de la República.  Sus valiosos aportes académicos podrán ser certificados como insumo general de apoyo a la labor legislativa por parte del CAEL- reconocido como Centro de Conocimiento Legislativo mediante resolución 750 del 18 de julio de 2018 del Departamento de Ciencia Tecnología e Innovación COLCIENCIAS.
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <!-- Classic Modal -->
        <div class="modal fade" id="bienvenido_modal_congresista" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                        <h4 class="title title-up"> Bienvenido a ARCA</h4>
                    </div>
                    <div id="modal-body-summary" class="modal-body">
                        <p>
                            <h5> Estimado(a) "@AuthorizeUserAttribute.UsuarioLogeado().name"</h5>
                        </p>
                        <div style="text-align: center;">
                            <img src="@Url.Content("/images/logo-cael-arca.png")" width="300">

                        </div>
                        <p style="text-align: justify;text-justify: inter-word;">
                            Honorable Congresista de la República de Colombia el Centro de Investigaciones y Altos Estudios Legislativos – CAEL le da la Bienvenida a la Plataforma de servicios de apoyo a la labor legislativa – Articulación Congreso Academia – ARCA.
                            <br />
                            <br />
                            Usted podrá recibir a partir de este instante, conceptos técnicos sobre diferentes proyectos de ley que cursan trámite en el Congreso y en sus respectivas Comisiones Constitucionales.
                            <br />
                            <br />
                            Estos conceptos son presentados por parte de los investigadores del país reconocidos por parte de COLCIENCIAS y adscritos a diferentes Instituciones de educación superior y centros de investigaciones de alto prestigio.
                            <br />
                            <br />
                            Usted podrá solicitar el acompañamiento en la discusión de iniciativas legislativas para el control político y audiencias públicas a través de estos recursos.


                        </p>

                    </div>

                </div>
            </div>
        </div>

    }
    <!--   Core JS Files   -->
    <script src="@Url.Content("/assets/js/core/jquery.min.js")"></script>
    <script src="@Url.Content("/assets/js/core/popper.min.js")"></script>

    <script src="@Url.Content("/assets/js/core/bootstrap.min.js")"></script>

    <script src="@Url.Content("/assets/js/plugins/perfect-scrollbar.jquery.min.js")"></script>
    <script src="@Url.Content("/assets/js/plugins/moment.min.js")"></script>

    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="@Url.Content("/assets/js/plugins/bootstrap-switch.js")"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="@Url.Content("/assets/js/plugins/sweetalert2.min.js")"></script>
    <!-- Forms Validations Plugin -->
    <script src="@Url.Content("/assets/js/plugins/jquery.validate.min.js")"></script>
    <script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

    <script src="@Url.Content("/Scripts/expressive.annotations.validate.min.js")"></script>
    <script src="@Url.Content("/Scripts/jquery.blockUI.js")"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="@Url.Content("/assets/js/plugins/jquery.bootstrap-wizard.js")"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="@Url.Content("/assets/js/plugins/bootstrap-selectpicker.js")"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="@Url.Content("/assets/js/plugins/bootstrap-datetimepicker.js")"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="@Url.Content("/assets/js/plugins/datatable/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("/assets/js/plugins/datatable/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("/assets/js/plugins/datatable/buttons.html5.min.js")"></script>
    <script src="@Url.Content("/assets/js/plugins/datatable/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("/assets/js/plugins/datatable/jszip.min.js")"></script>
    <script src="@Url.Content("/assets/js/plugins/datatable/pdfmake.min.js")"></script>
    <script src="@Url.Content("/assets/js/plugins/datatable/vfs_fonts.js")"></script>
    <script src="@Url.Content("/assets/js/plugins/select2.min.js")"></script>

    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="@Url.Content("/assets/js/plugins/bootstrap-tagsinput.js")"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="@Url.Content("/assets/js/plugins/jasny-bootstrap.min.js")"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="@Url.Content("/assets/js/plugins/fullcalendar.min.js")"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="@Url.Content("/assets/js/plugins/jquery-jvectormap.js")"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="@Url.Content("/assets/js/plugins/nouislider.min.js")"></script>

    <!-- Chart JS -->
    <script src="@Url.Content("/assets/js/plugins/chartjs.min.js")"></script>
    <!--  Notifications Plugin    -->
    <script src="@Url.Content("/assets/js/plugins/bootstrap-notify.js")"></script>


    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="@Url.Content("/assets/js/now-ui-dashboard.min69ea.js?v=1.1.2")" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
    <script src="@Url.Content("/assets/demo/demo.js")"></script>

    <!-- Sharrre libray -->
    <script src="@Url.Content("/assets/demo/jquery.sharrre.js")"></script>
    @if (Session[ConfigurationManager.AppSettings["session.usuario.actual"]] != null)
    {
        <script>

        $(document).ready(function () {

            var first_time =@AuthorizeUserAttribute.UsuarioLogeado().first_time;
            var role_id=@AuthorizeUserAttribute.UsuarioLogeado().role_id;
            if (first_time == 1 && role_id == 11)
                $("#bienvenido_modal").modal('show');
            if (first_time == 1 && role_id == 9)
                $("#bienvenido_modal_congresista").modal('show');

             @{
                 CurrentUserViewModel user = AuthorizeUserAttribute.UsuarioLogeado();
                 user.first_time = 0;
                 Session[ConfigurationManager.AppSettings["session.usuario.actual"]] = user;
             }


        });
        </script>
    }
    <script>
        function ActualizarNotificacion(notification_id, url)
         {
             $.ajax(
                {
                    url: "@Url.Action("ActualizarNotificacion", "Account")",
                    type: "POST",
                    data: { notification_id: notification_id }
                })
                .done(function (data) {
                    window.location.href = url;
                })
                .fail(function (data) {
                    console.log("error");
                })
                .always(function (data) {
                    console.log("complete");
                });
        }
        $.validator.setDefaults({
            ignore: null
        });
    </script>

    <script>
        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');
                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');
                sidebar_mini_active = true;

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                // if( window_width > 767 && fixed_plugin_open == 'Dashboard' ){
                //     if($('.fixed-plugin .dropdown').hasClass('show-dropdown')){
                //         $('.fixed-plugin .dropdown').addClass('show');
                //     }
                //
                // }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        }
                        else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .background-color span').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').on("switchChange.bootstrapSwitch", function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
                    var $btn = $(this);

                    if (sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        sidebar_mini_active = false;
                        //nowuiDashboard.showSidebarMessage('Sidebar mini deactivated...');
                    } else {
                        $('body').addClass('sidebar-mini');
                        sidebar_mini_active = true;
                        //nowuiDashboard.showSidebarMessage('Sidebar mini activated...');
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);
                });
            });
        });</script>








    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            // demo.initDashboardPageCharts();

            //demo.initVectorMap();

            $.extend(true, $.fn.dataTable.defaults, {
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate,
                        type: 'none',
                        target: ''
                    }
                },
            });

        });</script>



    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        String.prototype.includes = function (str) {
            var returnValue = false;

            if (this.indexOf(str) !== -1) {
                returnValue = true;
            }

            return returnValue;
        }
        $.blockUI.defaults.baseZ = 9000;
        $.blockUI.defaults.message = '  <img class="responsive-img" src="/assets/img/loading.gif" width="128px" />';
        $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

        $(document).bind("ajaxError", function (evt, jqXHR, settings, err, arguments) {
            debugger;
            if (jqXHR.status == 200) {
                location.reload();
                return;
            }
            if (jqXHR.status == 500 && settings.url && settings.url.includes("Eliminar")) {
                swal({
                    title: 'Error!',
                    html: 'No se puede eliminar este registro ya que tiene dependencias. Elimine las dependencias e intente nuevamente',
                    type: 'error',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false
                });
                return;
            }
            alert('Ha ocurrido un error, por favor intente de nuevo más tarde o comuníquese con el administrador del sistema.');


        });
    </script>

   

</body>


</html>
