@model Domain.Entities.RoleViewModel



@{
    ViewBag.HeaderTitleLink = Url.Action("index", "role");
    ViewBag.HeaderTitle = "Roles";
    ViewBag.Title = "Crear Role";

    ViewBag.active = "create_role";

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
            @using (Html.BeginForm("Crear", "Role", FormMethod.Post, new { id = "form-registrar-role", title = "Crear Role" }))
            {
            <div class="card-body">


                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group has-label">

                    @Html.LabelFor(model => model.role, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })

                </div>

              





            </div><!-- end content-->
                <div class="card-footer text-right">
                    
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <button id="btnCancelar" type="button" class="btn btn-primary">Regresar</button>
                </div>
            }
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->




@section Scripts {

    <script type="text/javascript">


        $("#btnCancelar").click(function () {
            window.location.href = "/Role";
        });

        $('#form-registrar-role').on('submit', function (e) { //use on if jQuery 1.7+
            //prevent form from submitting
            debugger;
            e.preventDefault();
            var form = this;
            if ($("#form-registrar-role").valid()) {


                form.submit();



            }

            return false;
        });

    </script>
}
