@model Domain.Entities.ConceptViewModel



@{
    ViewBag.HeaderTitleLink = Url.Action("index", "concept");
    ViewBag.HeaderTitle = "Concepto Técnico";
    ViewBag.Title = "Calificar Concepto técnico";

    ViewBag.active = "concepts";

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
            @using (Html.BeginForm("Editar", "Concept", FormMethod.Post, new { id = "form-registro", title = "Editar Concepto" }))
            {

                <div class="card-body">


                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.concept_id)
                    @Html.HiddenFor(model => model.draft_law_id)
                    @Html.HiddenFor(model => model.investigator_id)
                    @Html.HiddenFor(model => model.reject)
                    @Html.HiddenFor(model => model.bad_languages)
                    @Html.HiddenFor(model => model.concept_status_id)

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box box-blue box-example-movie">
                                <div class="box-header"> Calificación</div>
                                <div class="box-body">
                                    @Html.ValidationMessageFor(model => model.qualification, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(model => model.qualification, (IEnumerable<SelectListItem>)ViewBag.qualifications, new { @class = "form-control" })
                                    <div class="card-footer text-right">
                                        <button id="btnGuardar2" type="button" class="btn btn-primary">Calificar</button>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-12">

                            <iframe src="~/Assets/js/plugins/pdf_viewer/web/viewer.html?file=/Concept/OpenPDF/@Html.Raw(ViewBag.concept_id)#zoom=100" style="width:100%;height:600px;"></iframe>
                        </div>
                    </div>


                </div><!-- end content-->
                <div class="card-footer text-right">


                    <button id="btnCancelar" type="button" class="btn btn-primary">Regresar</button>
                    <button id="btnSolicitud" type="button" class="btn btn-primary">Consultar</button>
                    <button id="btnGuardar" type="button" class="btn btn-primary">Calificar</button>
                </div>
            }
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->
<!-- Classic Modal -->

<div class="modal fade" id="solicitud_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h4 class="title title-up">Consultar Concepto</h4>
            </div>
            <div id="modal-body-summary" class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="concept_email_investigator" style="text-align : center;">Concepto presentado por: @Model.investigator</div>
                    <div class="col-md-12" id="concept_email_institution" style="text-align : center;">@Model.institution</div>
                </div>

                <div class="row">
                    <div class="form-check mt-3">
                        <label class="form-check-label">
                            <input id="ch_solicitud_ampliacion" class="form-check-input" type="checkbox">
                            <span class="form-check-sign"></span>
                            Solicitud de ampliaci&oacute;n o actualizaci&oacute;n del concepto
                        </label>
                    </div>

                </div>
                <div class="form-group has-label message">

                    @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "" })
                    @Html.TextAreaFor(model => model.message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
                    <span class="text-danger field-validation-error message-error"></span>

                </div>
                <div class="row">
                    <div class="form-check mt-3">
                        <label class="form-check-label">
                            <input id="ch_solicitud_datos_investigador" class="form-check-input" type="checkbox">
                            <span class="form-check-sign"></span>
                            Solicitud de los datos de contacto del investigador
                        </label>
                    </div>

                </div>
                <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnSolicitudEnviar" type="button" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {


    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">-->
    <link href="@Url.Content("/assets/js/plugins/font-awesome-4.7.0/css/font-awesome.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/css/fontawesome-stars.css">
    <script src="/Scripts/jquery.barrating.min.js"></script>

    <script type="text/javascript">

        var rechazo = false;
        function RedirectConceptPorCalificar() {
            window.location.href = "/Concept/PorCalificar";
        }
        $(document).ready(function () {
            debugger;

            $('#qualification').barrating({
                theme: 'fontawesome-stars'
            });


            var concept_status_id = $('#concept_status_id').val();
            if (!(concept_status_id == 2 || concept_status_id == 4 || concept_status_id == 5)) {
                $(".card-footer :button").attr("disabled", true);
                swal({
                    title: 'Concepto Calificado!',
                    text: 'El concepto ya ha sido calificado anteriormente.',
                    type: 'error',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false,
                    onClose: RedirectConceptPorCalificar
                }).then(function () {
                    RedirectConceptPorCalificar();
                }).catch(swal.noop);

            }
            $('#ch_solicitud_ampliacion').change(function () {
                if ($(this).is(":checked")) {
                    $('.message').show();
                }
                else {
                    $('.message').hide();
                }

            });

        });
         $("#btnSolicitud").click(function () {
             $("#ch_solicitud_ampliacion").prop('checked', false);  // Checks the box
             $("#ch_solicitud_datos_investigador").prop('checked', false);
             $('#message').val('');
             $('.message').hide();
             $('#solicitud_modal').modal('show');

        });

        $("#btnSolicitudEnviar").click(function () {
            $('.message-error').html('');
            var solicitud_datos_investigador = $('#ch_solicitud_datos_investigador').is(':checked') ? 1 : 0;
            var solicitud_ampliacion = $('#ch_solicitud_ampliacion').is(':checked') ? 1 : 0;
            var concept_id = $('#concept_id').val();
            if (solicitud_ampliacion == 0 && solicitud_datos_investigador == 0) {
                swal({
                    title: 'Error!',
                    html: 'Debe seleccionar al menos una solicitud.',
                    type: 'error',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false
                });
                return false;
            }

            if (solicitud_ampliacion == 1 && $('#message').val().trim()=='') {
                $('.message-error').html('El Mensaje es obligatorio.');
                return false;
            }

            if (solicitud_ampliacion == 1 && $('#message').val().length > 650 ) {
                $('.message-error').html('El Mensaje debe tener máximo 650 caracteres.');
                return false;
            }

            $.ajax({
                url: "@Url.Action("EnviarNotificacion", "Concept")",
                type: "POST",

                data: {

                    concept_id: concept_id,
                    solicitud_datos_investigador: solicitud_datos_investigador,
                    solicitud_ampliacion: solicitud_ampliacion,
                    message: $('#message').val()
                }
            })
                .done(function (result) {
                    //debugger;




                    swal({
                        title: 'Solictud enviada!',
                        text: "Se ha enviado su(s) solictud(es) con éxito. ",
                        type: 'success',
                        confirmButtonClass: "btn btn-success",
                        buttonsStyling: false,
                    }).then(function () {

                        $('#solicitud_modal').modal('hide');

                    }).catch(swal.noop);;


                })
                .fail(function (data) {
                    console.log("error");
                })
                .always(function (data) {
                    console.log("complete");
                });


        });



        $("#btnCancelar").click(function () {

             swal({
                            title: '¿Estás seguro desea salir sin calificar?',
                            text: "No olvide calificar el concepto, para ARCA es muy importante su apreciación!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonClass: 'btn btn-success',
                            cancelButtonClass: 'btn btn-danger',
                            cancelButtonText: 'Cancelar',
                            confirmButtonText: 'Si, salir sin Calificar!',
                            buttonsStyling: false
                        }).then(function () {

                            RedirectConceptPorCalificar();

                        }).catch(swal.noop);




        });

        $("#btnGuardar,#btnGuardar2").click(function () {

            $("#qualification").valid()
            if ($("#form-registro").valid()) {
                 $.ajax(
                    {
                        url: "@Url.Action("Calificar", "Concept")",
                        type: "POST",
                         data: { concept_id: $("#concept_id").val(), qualification: $("#qualification").val() }
                    })
                .done(function (data) {

                    swal({
                        title: 'Calificado!',
                        text: 'El concepto ha sido calificado con éxito.',
                        type: 'success',
                        confirmButtonClass: "btn btn-success",
                        buttonsStyling: false,
                        onClose: RedirectConceptPorCalificar
                    }).then(function () {
                        RedirectConceptPorCalificar();


                        }).catch(swal.noop);;


                })
                .fail(function (data) {
                    console.log("error");
                })
                .always(function (data) {
                    console.log("complete");
                });

            }
        });


    </script>
}

