@model Domain.Entities.ConceptViewModel



@{
    ViewBag.HeaderTitleLink = Url.Action("index", "concept");
    ViewBag.HeaderTitle = "Concepto Técnico";
    ViewBag.Title = "Calificar Concepto técnico";

    ViewBag.active = "concepts";

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
            @using (Html.BeginForm("Editar", "Concept", FormMethod.Post, new { id = "form-registro", title = "Editar Concepto" }))
            {

                <div class="card-body">


                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.concept_id)
                    @Html.HiddenFor(model => model.draft_law_id)
                    @Html.HiddenFor(model => model.investigator_id)
                    @Html.HiddenFor(model => model.reject)
                    @Html.HiddenFor(model => model.bad_languages)
                    @Html.HiddenFor(model => model.concept_status_id)

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box box-blue box-example-movie">
                                <div class="box-header"> Calificación</div>
                                <div class="box-body">
                                    @Html.ValidationMessageFor(model => model.qualification, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(model => model.qualification, (IEnumerable<SelectListItem>)ViewBag.qualifications, new { @class = "form-control" })
                                    <div class="card-footer text-right">
                                        <button id="btnGuardar2" type="button" class="btn btn-primary">Calificar</button>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <embed onload="javascript: alert(1);" src="/Concept/OpenPDF/@Html.Raw(ViewBag.concept_id)#toolbar=1&navpanes=1&scrollbar=1&zoom=100" type="application/pdf" width="100%" height="600px" />
                        </div>
                    </div>


                </div><!-- end content-->
                <div class="card-footer text-right">


                    <button id="btnCancelar" type="button" class="btn btn-primary">Regresar</button>
                    <button id="btnGuardar" type="button" class="btn btn-primary">Calificar</button>
                </div>
            }
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->



@section Scripts {


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/css/fontawesome-stars.css">
    <script src="/Scripts/jquery.barrating.min.js"></script>
    <script type="text/javascript">

        var rechazo = false;
        function RedirectConceptPorCalificar() {
            window.location.href = "/Concept/PorCalificar";
        }
        $(document).ready(function () {
            debugger;

            /*$(window).bind('beforeunload', function (e) {
                var dialogText = '¿Seguro que quieres salissssssssssr?';
                e.returnValue = dialogText;
                return dialogText;
            });*/
           /* window.onbeforeunload = function (e) {
                var dialogText = '¿Seguro que quieres salir?';
                e.returnValue = dialogText;
                return dialogText;
            };*/
            $('#qualification').barrating({
                theme: 'fontawesome-stars'
            });


            var concept_status_id = $('#concept_status_id').val();
            if (!(concept_status_id == 2 || concept_status_id == 4 || concept_status_id == 5)) {
                $(".card-footer :button").attr("disabled", true);
                swal({
                    title: 'Concepto Calificado!',
                    text: 'El concepto ya ha sido calificado anteriormente.',
                    type: 'error',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false,
                    onClose: RedirectConceptPorCalificar
                }).then(function () {
                    RedirectConceptPorCalificar();
                }).catch(swal.noop);

            }


        });

        $("#btnCancelar").click(function () {

             swal({
                            title: '¿Estás seguro desea salir sin calificar?',
                            text: "No olvide calificar el concepto, para ARCA es muy importante su apreciación!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonClass: 'btn btn-success',
                            cancelButtonClass: 'btn btn-danger',
                            cancelButtonText: 'Cancelar',
                            confirmButtonText: 'Si, salir sin Calificar!',
                            buttonsStyling: false
                        }).then(function () {

                            RedirectConceptPorCalificar();
                           
                        }).catch(swal.noop);
                     
     

            
        });

        $("#btnGuardar,#btnGuardar2").click(function () {

            $("#qualification").valid()
            if ($("#form-registro").valid()) {
                 $.ajax(
                    {
                        url: "@Url.Action("Calificar", "Concept")",
                        type: "POST",
                         data: { concept_id: $("#concept_id").val(), qualification: $("#qualification").val() }
                    })
                .done(function (data) {

                    swal({
                        title: 'Calificado!',
                        text: 'El concepto ha sido calificado con éxito.',
                        type: 'success',
                        confirmButtonClass: "btn btn-success",
                        buttonsStyling: false,
                        onClose: RedirectConceptPorCalificar
                    }).then(function () {
                        RedirectConceptPorCalificar();


                        }).catch(swal.noop);;


                })
                .fail(function (data) {
                    console.log("error");
                })
                .always(function (data) {
                    console.log("complete");
                });

            }
        });


    </script>
}
