@model Domain.Entities.ConceptViewModel



@{
    ViewBag.HeaderTitleLink = Url.Action("index", "concept");
    ViewBag.HeaderTitle = "Concepto Técnico";
    ViewBag.Title = "Evaluar Concepto técnico";

    ViewBag.active = "concepts";

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
            @using (Html.BeginForm("Editar", "Concept", FormMethod.Post, new { id = "form-registro", title = "Editar Concepto" }))
            {
                <!-- Classic Modal -->
                <div class="modal fade" id="reject_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                </button>
                                <h4 class="title title-up">Rechazar Concepto</h4>
                            </div>
                            <div id="modal-body-summary" class="modal-body">
                                <div class="form-group has-label">

                                    @Html.LabelFor(model => model.reason_reject_id, htmlAttributes: new { @class = "" })
                                    @Html.DropDownList("reason_reject_id", (IEnumerable<SelectListItem>)ViewBag.reason_rejects, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.reason_reject_id, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group has-label">

                                    @Html.LabelFor(model => model.reason_reject_description, htmlAttributes: new { @class = "" })
                                    @Html.TextAreaFor(model => model.reason_reject_description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.reason_reject_description, "", new { @class = "text-danger" })

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button id="btnEnviarRechazo" type="button" class="btn btn-primary">Rechazar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Classic Modal -->
                <div class="modal fade" id="aprobar_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                </button>
                                <h4 class="title title-up">Aprobar Concepto</h4>
                            </div>
                            <div id="modal-body-summary" class="modal-body">
                                
                                <div class="form-group has-label">

                                    @Html.LabelFor(model => model.speakers, htmlAttributes: new { @class = "" })
                                    @Html.ListBoxFor(model => model.speakers, Model.speakersMultiSelectList, new { size = 8, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.speakers, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button id="btnEnviar" type="button" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.concept_id)
                    @Html.HiddenFor(model => model.draft_law_id)
                    @Html.HiddenFor(model => model.investigator_id)
                    @Html.HiddenFor(model => model.concept_status_id)
                    @Html.HiddenFor(model => model.reject)
                    @Html.HiddenFor(model => model.bad_languages)
                    <div class="row">
                        <div class="col-sm-12">

                            <embed onload="javascript: alert(1);" src="/Concept/OpenPDF/@Html.Raw(ViewBag.concept_id)#toolbar=1&navpanes=1&scrollbar=1&zoom=100" type="application/pdf" width="100%" height="600px" />
                        </div>
                    </div>


                </div><!-- end content-->
                <div class="card-footer text-right">
                    <button id="btnCancelar" type="button" class="btn btn-primary">Regresar</button>
                    <button id="btnAprobar" type="button" class="btn btn-primary">Aprobar</button>
                    <button id="btnRechazar" type="button" class="btn btn-primary">Rechazar</button>
                </div>
            }
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->



@section Scripts {


    <script type="text/javascript">
        
        var rechazo = false;
        ea.addMethod('ValidarRazonRechazo', function () {
            //debugger;
            if (rechazo === false)
                return true;
            if (rechazo && $('#reason_reject_id').val() != null && $('#reason_reject_id').val() != "")
                return true;

            return false;

           

        });
        ea.addMethod('ValidarRazonRechazoDescripcion', function () {
            //debugger;
            if (rechazo === false)
                return true;
            if (rechazo && $('#reason_reject_description').val() != null && $('#reason_reject_description').val() != "")
                return true;

            return false;

        });
        function RedirectConceptEmitidos() {
            window.location.href = "/Concept/Emitidos";
        }
        $(document).ready(function () {

            var concept_status_id = $('#concept_status_id').val();
            if (concept_status_id != 1) {
                $(".card-footer :button").attr("disabled", true);
                swal({
                    title: 'Concepto Evaluado!',
                    text: 'El concepto ya ha sido evaluado anteriormente.',
                    type: 'error',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false,
                    onClose: RedirectConceptEmitidos
                }).then(function () {
                    RedirectConceptEmitidos();
                }).catch(swal.noop);
            }
            $("#speakers").select2({
                //tags: true,
                tokenSeparators: [',']
            });
            
            $("#reason_reject_id").select2();
            $(window).resize(function () {
                $('#reason_reject_id').css('width', "100%");
                
            });

        });

        $("#btnCancelar").click(function () {
            window.location.href = "/Concept/Emitidos";
        });

        $("#btnEnviar").click(function () {
            debugger;
            var speakers = $("#speakers").val();

            if (speakers.length && speakers.length > 0) {
                $.ajax(
                    {
                        url: "@Url.Action("Aprobar", "Concept")",
                        type: "POST",
                        data: { concept_id: $("#concept_id").val(), speakers: speakers.join(",") }
                    })
                    .done(function (data) {

                        swal({
                            title: 'Aprobado!',
                            text: 'El concepto ha sido aprobado para su próxima calificación.',
                            type: 'success',
                            confirmButtonClass: "btn btn-success",
                            buttonsStyling: false,
                            onClose: RedirectConceptEmitidos
                        }).then(function () {
                            RedirectConceptEmitidos();


                        }).catch(swal.noop);;


                    })
                    .fail(function (data) {
                        console.log("error");
                    })
                    .always(function (data) {
                        console.log("complete");
                    });


            }
            else {
                swal({
                    title: 'Error!',
                    html: '<div style="text-align:left;">Destinatarios es obligatorio, debe ingresar al menos un destinario.</div>',
                    type: 'error',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false
                });

                return false;
            }
            
            return false;
        });
        
        $("#btnAprobar").click(function () {
            $("#aprobar_modal").modal('show');
            
               
            
        });

        $("#btnRechazar").click(function () {
            $("#reject_modal").modal('show');
            $("#reject").val("1");
            
        });

        $("#btnEnviarRechazo").click(function () {
            //debugger;
            if (!$("#form-registro").valid()) {
                return false;
            }
            $('#reject_modal').modal('toggle');
             $.ajax(
                {
                    url: "@Url.Action("Rechazar", "Concept")",
                    type: "POST",
                     data: { concept_id: $("#concept_id").val(), reason_reject_id: $("#reason_reject_id").val(), reason_reject_description: $("#reason_reject_description").val() }
                })
                .done(function (data) {
                    swal({
                        title: 'Rechazado!',
                        text: 'El concepto ha sido rechazado con éxito.',
                        type: 'success',
                        confirmButtonClass: "btn btn-success",
                        buttonsStyling: false,
                        onClose: RedirectConceptEmitidos
                    }).then(function () {
                        RedirectConceptEmitidos();
                    }).catch(swal.noop);
                })
                 .fail(function (data) {
                     
                    console.log("error");
                })
                 .always(function (data) {
                     rechazo = false;
                    console.log("complete");
                });

        });


    </script>
}
