@model Domain.Entities.ConceptViewModel



@{
    ViewBag.HeaderTitleLink = Url.Action("index", "concept");
    ViewBag.HeaderTitle = "Concepto Técnico";
    ViewBag.Title = "Ver Concepto técnico";

    ViewBag.active = "concepts";

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
            @using (Html.BeginForm("Editar", "Concept", FormMethod.Post, new { id = "form-registro", title = "Editar Concepto" }))
            {
                <!-- Classic Modal -->
                <div class="modal fade" id="reject_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                </button>
                                <h4 class="title title-up">Rechazar Concepto</h4>
                            </div>
                            <div id="modal-body-summary" class="modal-body">
                                <div class="form-group has-label">

                                    @Html.LabelFor(model => model.reason_reject_id, htmlAttributes: new { @class = "" })
                                    @Html.DropDownList("reason_reject_id", (IEnumerable<SelectListItem>)ViewBag.reason_rejects, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.reason_reject_id, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group has-label">

                                    @Html.LabelFor(model => model.reason_reject_description, htmlAttributes: new { @class = "" })
                                    @Html.TextAreaFor(model => model.reason_reject_description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.reason_reject_description, "", new { @class = "text-danger" })

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button id="btnEnviarRechazo" type="button" class="btn btn-primary">Rechazar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.concept_id)
                    @Html.HiddenFor(model => model.draft_law_id)
                    @Html.HiddenFor(model => model.investigator_id)
                    @Html.HiddenFor(model => model.reject)
                    @Html.HiddenFor(model => model.bad_languages)
                    <div class="row">
                        <div class="col-sm-12">


                            <iframe src="~/Assets/js/plugins/pdf_viewer/web/viewer.html?file=/Concept/OpenPDF/@Html.Raw(ViewBag.concept_id)#zoom=100" style="width:100%;height:600px;"></iframe>
                        </div>
                    </div>

                </div><!-- end content-->
                <div class="card-footer text-right">

                    <button id="btnCancelar" type="button" class="btn btn-primary">Regresar</button>
                    <button id="btnSolicitud" type="button" class="btn btn-primary">Consultar</button>
                </div>
            }
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->


<div class="modal fade" id="solicitud_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h4 class="title title-up">Consultar Concepto</h4>
            </div>
            <div id="modal-body-summary" class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="concept_email_investigator" style="text-align : center;">Concepto presentado por: @Model.investigator</div>
                    <div class="col-md-12" id="concept_email_institution" style="text-align : center;">@Model.institution</div>
                </div>

                <div class="row">
                    <div class="form-check mt-3">
                        <label class="form-check-label">
                            <input id="ch_solicitud_ampliacion" class="form-check-input" type="checkbox">
                            <span class="form-check-sign"></span>
                            Solicitud de ampliaci&oacute;n o actualizaci&oacute;n del concepto
                        </label>
                    </div>

                </div>
                <div class="form-group has-label message">

                    @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "" })
                    @Html.TextAreaFor(model => model.message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
                    <span class="text-danger field-validation-error message-error"></span>

                </div>
                <div class="row">
                    <div class="form-check mt-3">
                        <label class="form-check-label">
                            <input id="ch_solicitud_datos_investigador" class="form-check-input" type="checkbox">
                            <span class="form-check-sign"></span>
                            Solicitud de los datos de contacto del investigador
                        </label>
                    </div>

                </div>
                <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnSolicitudEnviar" type="button" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <!--<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <script type="text/javascript" src="/Scripts/summernote-es-ES.js"></script>
    <!--<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script type="text/javascript">

        var rechazo = false;
        ea.addMethod('ValidarRazonRechazo', function () {
            debugger;
            if (rechazo === false)
                return true;
            if (rechazo && $('#reason_reject_id').val() != null && $('#reason_reject_id').val() != "")
                return true;

            return false;



        });
        ea.addMethod('ValidarRazonRechazoDescripcion', function () {
            debugger;
            if (rechazo === false)
                return true;
            if (rechazo && $('#reason_reject_description').val() != null && $('#reason_reject_description').val() != "")
                return true;

            return false;

        });
        $(document).ready(function () {
            // Initialize Editor
            $('.textarea-editor').summernote({
                toolbar: [],
                lang: 'es-ES',
                height: 400, // set editor height
                minHeight: null, // set minimum height of editor
                maxHeight: null, // set maximum height of editor
                focus: false // set focus to editable area after initializing summernote
            });
            $('.textarea-editor').summernote('disable');
            //setTimeout(function () { $('div .note-editable').focus(); }, 5000);
            $("#tags").select2({
                tags: true,
                tokenSeparators: [',']
            });
            $("#commission_id").select2();
            $("#reason_reject_id").select2();
            $(window).resize(function () {
                $('#reason_reject_id').css('width', "100%");
                $('#commission_id').css('width', "100%");
            });

            $('#ch_solicitud_ampliacion').change(function () {
                if ($(this).is(":checked")) {
                    $('.message').show();
                }
                else {
                    $('.message').hide();
                }

            });
        });

         $("#btnSolicitud").click(function () {
             $("#ch_solicitud_ampliacion").prop('checked', false);  // Checks the box
             $("#ch_solicitud_datos_investigador").prop('checked', false);
             $('#message').val('');
             $('.message').hide();
             $('#solicitud_modal').modal('show');

        });

        $("#btnSolicitudEnviar").click(function () {
            $('.message-error').html('');
            var solicitud_datos_investigador = $('#ch_solicitud_datos_investigador').is(':checked') ? 1 : 0;
            var solicitud_ampliacion = $('#ch_solicitud_ampliacion').is(':checked') ? 1 : 0;
            var concept_id = $('#concept_id').val();
            if (solicitud_ampliacion == 0 && solicitud_datos_investigador == 0) {
                swal({
                    title: 'Error!',
                    html: 'Debe seleccionar al menos una solicitud.',
                    type: 'error',
                    confirmButtonClass: "btn btn-success",
                    buttonsStyling: false
                });
                return false;
            }

            if (solicitud_ampliacion == 1 && $('#message').val().trim()=='') {
                $('.message-error').html('El Mensaje es obligatorio.');
                return false;
            }

            if (solicitud_ampliacion == 1 && $('#message').val().length > 650 ) {
                $('.message-error').html('El Mensaje debe tener máximo 650 caracteres.');
                return false;
            }

            $.ajax({
                url: "@Url.Action("EnviarNotificacion", "Concept")",
                type: "POST",

                data: {

                    concept_id: concept_id,
                    solicitud_datos_investigador: solicitud_datos_investigador,
                    solicitud_ampliacion: solicitud_ampliacion,
                    message: $('#message').val()
                }
            })
                .done(function (result) {
                    //debugger;




                    swal({
                        title: 'Solictud enviada!',
                        text: "Se ha enviado su(s) solicitud(es) con éxito. ",
                        type: 'success',
                        confirmButtonClass: "btn btn-success",
                        buttonsStyling: false,
                    }).then(function () {

                        $('#solicitud_modal').modal('hide');

                    }).catch(swal.noop);;


                })
                .fail(function (data) {
                    console.log("error");
                })
                .always(function (data) {
                    console.log("complete");
                });


        });

        $("#btnCancelar").click(function () {
            window.location.href = "/Concept/Recibidos";
        });

        $("#btnAprobar").click(function () {


                $.ajax(
                    {
                        url: "@Url.Action("Aprobar", "Concept")",
                        type: "POST",
                         data: { concept_id: $("#concept_id").val() }
                    })
                .done(function (data) {

                    swal({
                        title: 'Aprobado!',
                        text: 'El concepto ha sido aprobado para su próxima calificación.',
                        type: 'success',
                        confirmButtonClass: "btn btn-success",
                        buttonsStyling: false
                    }).then(function () {
                        window.location.href = "/Concept/Emitidos";


                        }).catch(swal.noop);;


                })
                .fail(function (data) {
                    console.log("error");
                })
                .always(function (data) {
                    console.log("complete");
                });

        });

        $("#btnRechazar").click(function () {
            $("#reject_modal").modal('show');
            $("#reject").val("1");

        });

        $("#btnEnviarRechazo").click(function () {
            debugger;
            if (!$("#form-registro").valid()) {
                return false;
            }
            $('#reject_modal').modal('toggle');
             $.ajax(
                {
                    url: "@Url.Action("Rechazar", "Concept")",
                    type: "POST",
                     data: { concept_id: $("#concept_id").val(), reason_reject_id: $("#reason_reject_id").val(), reason_reject_description: $("#reason_reject_description").val() }
                })
                .done(function (data) {
                    swal({
                        title: 'Rechazado!',
                        text: 'El concepto ha sido rechazado con éxito.',
                        type: 'success',
                        confirmButtonClass: "btn btn-success",
                        buttonsStyling: false
                    }).then(function () {
                        window.location.href = "/Concept/Emitidos";
                    }).catch(swal.noop);
                })
                 .fail(function (data) {

                    console.log("error");
                })
                 .always(function (data) {
                     rechazo = false;
                    console.log("complete");
                });

        });


    </script>
}
